.slide1 {
    height: 500px;
    background-image: url(~@/assets/swipper/swipper1.webp);
  }
.slide2 {
    height: 500px;
    background-image: url(~@/assets/swipper/swipper2.webp);
  }
  .slide3 {
    height: 500px;
    background-image: url(~@/assets/swipper/swipper3.webp);
  }
  .slide4 {
    height: 500px;
    background-image: url(~@/assets/swipper/swipper4.webp);
  }
  .slide5 {
    height: 500px;
    background-image: url(~@/assets/swipper/swipper5.webp);
  }
  .slide6 {
    height: 500px;
    background-image: url(~@/assets/swipper/swipper6.jpg);
  }
  .slide7 {
    height: 500px;
    background-image: url(~@/assets/swipper/swipper7.jpg);
  }
  .slide8 {
    height: 500px;
    background-image: url(~@/assets/swipper/swipper8.jpg);
  }

  .smallswiper11 {
      height: 200px;
      background-image: url(~@/assets/swipper/small-swipper11.webp);
  }
  .smallswiper12 {
    height: 200px;
    background-image: url(~@/assets/swipper/small-swipper12.webp);
}
.smallswiper13 {
    height: 200px;
    background-image: url(~@/assets/swipper/small-swipper13.webp);
}